.places__image {
  max-width: 460px;
  max-height: 460px;
}

@media screen and (min-width: 768) and (max-width: 1279) {
  .places__image {
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (min-width: 320) and (max-width: 767) {
  .places__image {
    max-width: 320px;
    max-height: 320px;
  }
}
