.lead__title {
  max-width: 793px;
  max-height: 200px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 104px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  margin: auto;
}

@media screen and (min-width: 768) and (max-width: 1279) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (min-width: 320) and (max-width: 767) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
