.cover__button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  background-color: #0278fe;
  width: 200px;
  height: 50px;
  z-index: 2;
}

.cover__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cover__button:hover + .cover__background {
  opacity: 0.5;
}
