@import url(../vendor/normalize.css);

.page {
  background-color: #2a2c2f;
}

.header__logo {
  width: 270px;
  height: 70px;
  display: flex;
  margin: auto;
}

.header__title {
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-top: 100px;
  max-width: 500px;
}

.header__subtitle {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-top: 20px;
  max-width: 650px;
}

.header__ilustration {
  width: 1000px;
  height: 600px;
  color: #000000;
  display: flex;
  margin: auto;
  margin-top: 50px;
  filter: grayscale(100%);
}

.header__intro {
  max-width: 900px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: auto;
  margin-top: 100px;
}

.header__paragraph {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: auto;
  max-width: 600px;
  margin-top: 30px;
}

.header__paragraph .header__paragraph-author {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
  margin: auto;
}

.header__paragraph-two {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: auto;
  max-width: 600px;
  margin-top: 50px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1184px;
  height: 442px;
  margin: auto;
  margin-top: 100px;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

.places {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.places__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
}

.places__item-title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 100px;
}

.places__item-author {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #aaaaaa;
  margin-top: 150px;
}

.places__item-name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.places__item-image {
  width: 460px;
  height: 460px;
}

.places__item-paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: #ffffff;
  max-width: 500px;
}

.places__item-button {
  color: #ffffff;
  background-color: #0278fe;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  width: 315px;
  height: 40px;
  margin-top: 40px;
}

.cover {
  position: relative;
  height: 700px;
  width: 1200px;
  background-color: black;
}

.cover__background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover__background:hover {
  opacity: 0.5;
}

.cover__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__content-title {
  z-index: 2;
  color: white;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  color: #fffdfd;
}

.cover__content-paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  z-index: 2;
  width: 280px;
  height: 66px;
}

.cover__content-button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  background-color: #0278fe;
  width: 300px;
  height: 50px;
  z-index: 2;
}

.cover__content-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cover__content-button:hover + .cover__background {
  opacity: 0.5;
}

.footer__content {
  display: flex;
  margin: auto;
}

.footer__copyright {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
