@import url(../vendor/normalize.css);
@import url(../blocks/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/header__logo.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/lead__title.css);
@import url(../blocks/lead/lead__subtitle.css);
@import url(../blocks/lead/lead__ilustration.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/intro__title.css);
@import url(../blocks/intro/intro__paragraph.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/photo-grid__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/places__title.css);
@import url(../blocks/places/places__paragraph.css);
@import url(../blocks/places/places__name.css);
@import url(../blocks/places/places__item.css);
@import url(../blocks/places/places__image.css);
@import url(../blocks/places/places__button.css);
@import url(../blocks/places/places__author.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/cover__title.css);
@import url(../blocks/cover/cover__paragraph.css);
@import url(../blocks/cover/cover__content.css);
@import url(../blocks/cover/cover__button.css);
@import url(../blocks/cover/cover__background.css);

@import url(../blocks/footer/footer__content.css);
@import url(../blocks/footer/footer__copyright.css);

@font-face {
  src: url ();
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url ();
  font-family: "Inter";
  font-style: bold;
  font-weight: 900;
}
